*
{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #000;
}
body > header
{
    background: linear-gradient(to bottom, #FFA500, transparent);    
    color: #000;
    font-weight: bold;
    font-size: 40px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}
body > main .pagetitle
{
    background: #000;
    color: whitesmoke;
    font-size: 19px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}